/* Generic selectors */

body {
    background: #F9F7F7;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    padding: 10px;
    text-align: center;
}

p, a, h1, h2 {
    color: #112D4E;
}

hr {
    width: 50%;
    border: none;
    border-top: dashed 10px;
    border-color: rgb(63, 114, 175);
}

img:hover {
    opacity: 50%;
}

/* Menu */
#menu {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px 0 75px;
    background-color: #DBE2EF;
    border: rgb(63, 114, 175) solid 5px;
}

.links a{
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
}

.links a:hover {
    color: #10dbb9;
}

/* Header */

#header {
    padding: 100px 0 100px 0;
    width: 1000px;
    margin: auto;
}

#header h1 {
    font-size: 60px;
}

/* Skills */

#skills {
    width: 1000px;
    height: 400px;
    margin: auto;
    padding: 50px;
    border: rgb(17, 45, 78) solid 10px;
    border-radius: 20px;
}

#skills h1 {
    font-size: 40px;
}

#skills ul li {
    font-size: 20px;
}

#skills img {
    width: 20%;
}

/* Education */
#education {
    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    border: rgb(17, 45, 78) solid 10px;
    border-radius: 20px;
}

#education h1 {
    font-size: 35px;
}

.text {
    font-size: 20px;
}

#education img {
    width: 125px;
    height: 125px;
}

/* Hobbies */
#hobbies {
    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    border: rgb(17, 45, 78) solid 10px;
    border-radius: 20px;
}

#hobbies h1 {
    font-size: 30px;
}

#hobbies ul li {
    font-size: 20px;
}

.images {
    display: flex;
    justify-content: space-around;
}

#hobbies img {
    width: 150px;
    height: 150px;
    border: rgb(63, 114, 175) 5px solid;
    border-radius: 10px;
}

/* Contact */
#contact {
    width: 1000px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    padding: 50px 50px 150px 50px;
    border: rgb(17, 45, 78) solid 10px;
    border-radius: 20px;
}

#contact a {
    font-size: 30px;
    text-decoration: none;
    color: #F9F7F7;
    background-color: rgb(63, 114, 175);
    padding: 10px;
    border-radius: 10px;
}

#contact a:hover {
    background-color: #555;
}

/* Footer */
footer {
    width: 1000px;
    height: 100px;
    margin: auto;
    background-color: rgb(63, 114, 175);
    margin-top: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px solid rgb(17, 45, 78);
    border-radius: 20px;
}

footer img {
    width: 75px;
    height: 75px;
}

/* Button css */
#topBtn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: none;
    background-color: rgb(17, 45, 78);
    color: #F9F7F7;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
}

#topBtn:hover {
    background-color: #555;
}